<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>上传头像</h1>
  <form action="/user/upload" method="post" enctype="multipart/form-data">
    <h3>请选择你的头像</h3>
    <input type="file" name="pic">
    <input type="submit" value="上传">
  </form>
</body>

</html>